{% extends 'core/main.html' %}
{% load static %}
{% block content %}

<br>

 <div class="row"> 
      <div class="col-11">
      <h2 id="account">👤 {{request.user}} </h2></div>
      <div class="col-1">
      <a href={%url 'logout'%}><img  class=" mx-auto" src="{% static '/img/powerverysmallwhite.png'%}"></img></a></div>
    </div>
    <div class="text-center "><img id="logo2" class="img-fluid" src="{% static '/img/iconwhite.png'%}" alt=""></div>
    <div>
    <a href={%url 'home'%} id="link" style="font-size: 200%;">🡄 Volver</a></div>
    <div class="card-group">
    {%for i in deptos%}
    <div class="card">
      <img src="data:image/jpeg;base64,base64.b64encode({{i.img}}).decode()" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">{{i.zonas_id_zonas}}</h5>
        <h5 class="card-title">{{i.direccion}}</h5>
        <p class="card-text">{{i.metros_cua}} Metros Cuadrados.</p>
        {%for i.inventario_id_inventario in inv|slice:":1"%}
        <p class="card-text">{{i.inventario_id_inventario.habitacion}} Habitacion(es) | 
        {{i.inventario_id_inventario.camas}} Cama(s) | {{i.inventario_id_inventario.baños}} Baño(s).</p>
        <p class="card-text">Incluye: {{i.inventario_id_inventario.incluido}}.</p>
        {%endfor%}
        <p class="card-text">{{i.descripcion}}</p>
        <p class="card-text">${{i.precio}}/Día. - </p>
        
       <form method="POST" action="" autocomplete="off">
          {% csrf_token %}
            N° de Acompañantes: {{form.num_acomp}}<br><br>
            Fecha Entrada: {{form.fecha_entrada}}
            Fecha Salida: {{form.fecha_salida}}<br><br>
            Metodo de Pago: {{form.metodo_pago_id_met_pago}}<br><br>
            Servicios Extra:<br> Tour? {{form.tour}} Transporte? {{form.transport}}<br><br>
            <input type="submit" name="Arrendar" value="Arrendar" id="button">
    {%endfor%}

{% endblock  %}