
{% extends 'core/main.html' %}
{% load static %}
{% block content %}

<br>
    
<div class="container">
  <div class="row"> 
    <div class="col-11">
      <h2 id="account">👤 Funcionario {{request.user.first_name}} </h2>
    </div>
    <div class="col-1">
      <a href={%url 'logout'%}><img  class=" media" src="{% static '/img/powerverysmallwhite.png'%}"></img></a>
    </div>
  </div>
</div>
  <div class="text-center ">
    <img id="logo2" class="img-fluid" src="{% static '/img/iconwhite.png'%}" alt=""></img>
  </div>
  <div class="container text-center ">
    <a href={%url 'checkin'%}><button class="btn" id="button" style="color:white;">Check-In</button></a><br><br>
    <a href={%url 'checkout'%}><button class="btn" id="button" style="color:white;">Check-Out</button></a>
  </div>
  

{% endblock  %}


    
